<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DSoft_Delivery.Parametros" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<DSoft_Delivery.Parametros>
   <setting name="controla_processos" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="controla_entregas" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="numero_caixa" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="titulo" serializeAs="String">
    <value>DSoft v1.2</value>
   </setting>
   <setting name="pedido_caixa" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="relatorios" serializeAs="String">
    <value>c:\DSoft\DSoftDelivery\Relatorios\</value>
   </setting>
   <setting name="debito_automatico" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="imagem_fundo" serializeAs="String">
    <value>dsoft_delivery12.png</value>
   </setting>
   <setting name="imagem_login" serializeAs="String">
    <value>dsoft_login12.png</value>
   </setting>
   <setting name="impressora" serializeAs="String">
    <value />
   </setting>
   <setting name="imp2vias" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="imprime_ticket" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="promocao1" serializeAs="String">
    <value />
   </setting>
   <setting name="promocao2" serializeAs="String">
    <value />
   </setting>
   <setting name="dupla_linha" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="produto_por_nome" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="imprime_producao" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ramo" serializeAs="String">
    <value>LOJA</value>
   </setting>
   <setting name="registra_vendedor" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="pasta_cte" serializeAs="String">
    <value>c:/dsoft/CTe/</value>
   </setting>
   <setting name="schema_cte" serializeAs="String">
    <value>c:/dsoft/projetos/dsoft delivery/cte/cte_v1.03.xsd</value>
   </setting>
   <setting name="emite_cupom_fiscal" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ecf" serializeAs="String">
    <value>SWEDA</value>
   </setting>
   <setting name="ecf_porta" serializeAs="String">
    <value>COM1</value>
   </setting>
   <setting name="schema_status_servico" serializeAs="String">
    <value />
   </setting>
   <setting name="postgresql" serializeAs="String">
    <value>c:/arquivos de programas/postgresql/8.4/bin/</value>
   </setting>
   <setting name="backup" serializeAs="String">
    <value>c:/dsoft/backup/</value>
   </setting>
   <setting name="leitora_barras" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="pasta_cte_retorno" serializeAs="String">
    <value />
   </setting>
   <setting name="pasta_cte_erro" serializeAs="String">
    <value />
   </setting>
   <setting name="pasta_cte_assinadas" serializeAs="String">
    <value />
   </setting>
   <setting name="pasta_cte_enviadas" serializeAs="String">
    <value />
   </setting>
   <setting name="pasta_cte_negadas" serializeAs="String">
    <value />
   </setting>
   <setting name="pasta_cte_arquivo" serializeAs="String">
    <value />
   </setting>
   <setting name="matriz" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="matriz_servidor" serializeAs="String">
    <value />
   </setting>
   <setting name="matriz_porta" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="matriz_intervalo" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="matriz_pasta" serializeAs="String">
    <value />
   </setting>
   <setting name="fecha_caixa_automatico" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="caixa_inicial" serializeAs="String">
    <value>0</value>
   </setting>
  </DSoft_Delivery.Parametros>
	</userSettings>
	<startup><supportedRuntime version="v2.0.50727"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Forms" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Design" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="CadConsultaCadastroSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
    <binding name="CadConsultaCadastroSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
      <message clientCredentialType="UserName" algorithmSuite="Default"/>
     </security>
    </binding>
   </basicHttpBinding>
   <customBinding>
    <binding name="CteRecepcaoSoap12">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     </textMessageEncoding>
     <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
    </binding>
    <binding name="CteRetRecepcaoSoap12">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     </textMessageEncoding>
     <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
    </binding>
    <binding name="CteCancelamentoSoap12">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     </textMessageEncoding>
     <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
    </binding>
    <binding name="CteInutilizacaoSoap12">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     </textMessageEncoding>
     <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
    </binding>
    <binding name="CteConsultaSoap12">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     </textMessageEncoding>
     <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
    </binding>
    <binding name="CteStatusServicoSoap12">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     </textMessageEncoding>
     <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
    </binding>
    <binding name="CteRecepcaoSoap121">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     </textMessageEncoding>
     <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
    </binding>
    <binding name="CteRetRecepcaoSoap121">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     </textMessageEncoding>
     <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
    </binding>
    <binding name="CteStatusServicoSoap121">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     </textMessageEncoding>
     <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
    </binding>
    <binding name="CteCancelamentoSoap121">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     </textMessageEncoding>
     <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
    </binding>
    <binding name="CteInutilizacaoSoap121">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     </textMessageEncoding>
     <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
    </binding>
    <binding name="CteConsultaSoap121">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
     </textMessageEncoding>
     <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false"/>
    </binding>
   </customBinding>
  </bindings>
  <client>
   <endpoint address="https://cte.sefaz.rs.gov.br/ws/cterecepcao/CteRecepcao.asmx" binding="customBinding" bindingConfiguration="CteRecepcaoSoap12" contract="CteRecepcao.CteRecepcaoSoap12" name="CteRecepcaoSoap12"/>
   <endpoint address="https://cte.sefaz.rs.gov.br/ws/cteretrecepcao/cteRetRecepcao.asmx" binding="customBinding" bindingConfiguration="CteRetRecepcaoSoap12" contract="CteRetRecepcao.CteRetRecepcaoSoap12" name="CteRetRecepcaoSoap12"/>
   <endpoint address="https://cte.sefaz.rs.gov.br/ws/ctecancelamento/ctecancelamento.asmx" binding="customBinding" bindingConfiguration="CteCancelamentoSoap12" contract="CteCancelamento.CteCancelamentoSoap12" name="CteCancelamentoSoap12"/>
   <endpoint address="https://cte.sefaz.rs.gov.br/ws/cteinutilizacao/cteinutilizacao.asmx" binding="customBinding" bindingConfiguration="CteInutilizacaoSoap12" contract="CteInutilizacao.CteInutilizacaoSoap12" name="CteInutilizacaoSoap12"/>
   <endpoint address="https://cte.sefaz.rs.gov.br/ws/cteconsulta/CteConsulta.asmx" binding="customBinding" bindingConfiguration="CteConsultaSoap12" contract="CteConsulta.CteConsultaSoap12" name="CteConsultaSoap12"/>
   <endpoint address="https://cte.sefaz.rs.gov.br/ws/ctestatusservico/CteStatusServico.asmx" binding="customBinding" bindingConfiguration="CteStatusServicoSoap12" contract="CteStatusServico.CteStatusServicoSoap12" name="CteStatusServicoSoap12"/>
   <endpoint address="https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteRecepcao.asmx" binding="customBinding" bindingConfiguration="CteRecepcaoSoap121" contract="HCteRecepcao.CteRecepcaoSoap12" name="CteRecepcaoSoap121"/>
   <endpoint address="https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteRetRecepcao.asmx" binding="customBinding" bindingConfiguration="CteRetRecepcaoSoap121" contract="HCteRetRecepcao.CteRetRecepcaoSoap12" name="CteRetRecepcaoSoap121"/>
   <endpoint address="https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteStatusServico.asmx" binding="customBinding" bindingConfiguration="CteStatusServicoSoap121" contract="HCteStatusServico.CteStatusServicoSoap12" name="CteStatusServicoSoap121"/>
   <endpoint address="https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteCancelamento.asmx" binding="customBinding" bindingConfiguration="CteCancelamentoSoap121" contract="HCteCancelamento.CteCancelamentoSoap12" name="CteCancelamentoSoap121"/>
   <endpoint address="https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteInutilizacao.asmx" binding="customBinding" bindingConfiguration="CteInutilizacaoSoap121" contract="HCteInutilizacao.CteInutilizacaoSoap12" name="CteInutilizacaoSoap121"/>
   <endpoint address="https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteConsulta.asmx" binding="customBinding" bindingConfiguration="CteConsultaSoap121" contract="HCteConsulta.CteConsultaSoap12" name="CteConsultaSoap121"/>
   <endpoint address="https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/cadConsultaCadastro.asmx" binding="basicHttpBinding" bindingConfiguration="CadConsultaCadastroSoap" contract="HCteConsultaCadastro.CadConsultaCadastroSoap" name="CadConsultaCadastroSoap"/>
  </client>
 </system.serviceModel>
</configuration>
